{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить товар <strong>{{object.name }}</strong>
        <form action="{% url 'admin:product_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="form-control" value="удалить">
        </form>
        <button class="btn btn_success">
            <a href="{% url 'admin:products' object.category_id %}">отмена</a>
        </button>
    </div>
{% endblock %}


