<!DOCTYPE html>
{% load static %}

<!--Это страница детализации заказа-->
<!--Упс, ошибка создать отчет о дефекте-->

<html>
<head>
  <meta charset="utf-8">
  <title>
       {% block title %}
           {{ title|title }}
       {% endblock %}
   </title>
   {% block css %}
       <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
       <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
   {% endblock %}
   {% block js %}
       <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
       <script src="{% static 'js/orders_scripts.js' %}"></script>
       <script src="{% static 'js/jquery.formset.js' %}"></script>
   {% endblock %}
</head>
<body>
  <div class="order_container">
       {% block content %}

       {% endblock %}

<!--      Здесь добавить в требования (неочевидно), что должна быть доступна возможность добавлять товар-->
<!--      в детализацию товара. Хотя реализовано через "добавить продукт" кнопку, но это не прописывать в требованиях-->

  </div>
</body>
</html>
